@import "true";
@import "../lib/compass-boilerplate";

@include test-module('Dependencies') {

  @include test('The compass mixins library should be imported') {
    $list: ('a', 'b', 'c');
    $actual: -compass-nth($list, 2);
    $expected: 'b';

    @include assert-equal($actual, $expected);
  }

}
